.tablaUsuarios{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
}

.busqueda{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    gap: 10px;
}

.tablaUsuarios td, .tablaUsuarios th, h2{
    padding: 8px;
    align-items: start;
    align-content: start;
    text-align: start;
    border-bottom: 1px solid #ddd;
}

tbody td:hover {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #ddd;
}


#txtBuscar {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
}
