.grid-container{
    display: grid;
    grid-template-columns: 40px 115px 130px 190px 3px 550px;
    grid-template-rows: 20px 50px 60px 300px 20px;
    overflow-x: hidden;
}
.title{
    grid-column: 3/5;
    grid-row: 1;
}

.first-data{
    grid-column: 3/5;
    grid-row: 2;
}
.tabs{
    //background-color: red;
    grid-column: 2/5;
    grid-row: 4;
    border: solid black 1px;
    margin-top: 5px;
    text-align: center;
    border-collapse: collapse;
}

.table{
//    grid-column: 4;
//    grid-row: 4;
}

.back{
    grid-column: 2;
    grid-row: 5;
}
.img_perfil{
    grid-column: 2;
    grid-row: 2;
    height: 100px;
    width: 90px;
}

.menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.menu > p {
    padding: 10px;
    cursor: pointer;
}
.menu > p:hover {
    background-color: #e6e6e6;
}

.active[data-target]{
    background-color: darkgrey;
    border-radius: 6px;
}
.target-selected{
    background-color: gray;
}
.content {
    text-align: left;
    margin: 2rem 2rem;
}

[data-content] {
    display: none;
}

[data-content] table tbody {
    text-align: left;
}


.active[data-content] {
    display: block;

}
[data-content] table tbody tr th{
    cursor: pointer;
    padding-right: 30px;
}

.seleccion{
    cursor:pointer;
    text-decoration: underline;
}

.btn{
    display: inline-block;
    margin-top: 31px;
    padding: 1px 1px;
    //border-radius: 3px;
}

.div_butons_esp{
    grid-column: 3/5;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
}

.btn2{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 25px 5px 0 0;
}

.form{
    grid-column: 3;
    grid-row: 3;
}
/* For colorful badge*/
.sticker{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: white;

}

.respuesta{
    grid-column: 3;
    grid-row: 3;
}

h2 {
    font-size: 20px;
}
h5 {
    margin-top: 3px
}

.notbold {
    font-weight: normal;
}