.grid-container{
    display: grid;
    grid-template-columns: 10px 320px 150px 900px 3px;
    grid-template-rows: 80px 60px 30px 360px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.title{
    grid-column: 3/5;
    grid-row: 1;
}
.tabs{
    //background-color: red;
    grid-column: 2/4;
    grid-row: 4;
}

.table{
    grid-column: 4;
    grid-row: 4;
}

.back{
    grid-column: 2;
    grid-row: 5;
}


.menu {
    display: flex;
}

.menu p {
    margin-right: 2rem;
    cursor: pointer;
}

.content {
    margin-top: 2rem;
}

[data-content] {
    display: none;
}

.active[data-content] {
    display: block;
}