* {
    font-size: 14px;
    font-family: 'Amatic SC', cursive;
    margin: 0;

    --primary-green: #96BDC6;
    --secondary-green: #B3D4D9;
    --primary-red: #98473E;
    --secondary-red: #B35A4F;
    --primary-yellow: #F7C4A5;
    --secondary-yellow: #F7D9B5;
    --primary-blue: #2C2C54;
    --secondary-blue: #3D3D5C;
    --primary-black: #071013;
    --secondary-black: #0A1A1F;

    --dark-grey: #999999;
    --light-grey: #C4C4C4;
    --almost-white: #F5F5F5;
    --link: #1c439b;
} 

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: url("https://i.imgur.com/d6cWesT.jpeg");
}

.background_container {
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.9);
}

#message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 10%;
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#message.error {
    background-color: rgba(255, 0, 0, 0.5);
}
#message.success {
    background-color: rgba(0, 131, 0, 0.5);
}

.coronaTicketsUY {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 1060px;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__left {
    display: flex;
    align-items: center;
}
.header__left > img {
    object-fit: contain;
    margin-right: 10px;
    cursor: pointer;
}
.header__left > img:hover {
    opacity: 0.8;
}

.header__right {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-black);
}
.header__right > p {
    font-size: 20px;
}
.header__right > span {
    margin: 0 5px;
    font-size: 12px;
}
.header__right:hover > p, .header__right:hover > span {
    color: var(--dark-grey);
}
.header__right > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.header__right:hover > img {
    opacity: 0.8;
}
.header__right__submenu_wrap {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--almost-white);
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
}
.header__right__submenu_wrap.open-menu {
    max-height: 100%;
}
.header__right__submenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 210px;
}
.header__right__submenu__userinfo {
    display: flex;
}
.header__right__submenu__userinfo > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.header__right__submenu__userinfo__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 3px;
}
.header__right__submenu__userinfo__text > span {
    font-weight: 400;
    color: var(--dark-grey);
}
.header__right__submenu hr {
    width: 100%;
    margin-top: 5px;
}
.header__right__submenu__options {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__right__submenu__options > a, .header__right__submenu__options > p {
    width: 100%;
    margin: 2px 0;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    color: var(--primary-black);
}
.header__right__submenu__options > span {
    padding: 0 10px;
}
.header__right__submenu__options:hover {
    background-color: #eee;
}
.header__right__submenu__options:hover > *{
    color: var(--primary-blue);
    font-weight: bold;
    text-indent: 2px;
}
.header__right__submenu__options:hover > span {
    font-size: 15px;
}

.header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--primary-green);
}
.header__left > ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    height: 34px;
}
.header__left > ul > li {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__left > ul > li:hover {
    background-color: var(--secondary-green);
}
.header__left > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    color: var(--primary-black);
}
.header__left > ul > li > a:hover {
    color: var(--primary-black);
}
.header__right__search {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}
.header__right__search > input {
    width: 285px;
    height: 22px;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}
.header__right__search > button {
    height: 22px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    background-color: white;
    display: flex;
    align-items: center;
}
.header__right__search > button > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--primary-blue);
}
.page-title > h3 {
    margin: 0 10px;
    font-size: 20px;
    color: var(--almost-white);
    padding: 5px 10px;
}

section {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 10px 0;
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
}

.sidebars {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 10px 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    padding: 10px;
    margin-bottom: 10px;
}
.sidebar__item > h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-black);
}
.sidebar__item > ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.sidebar__item > ul > li {
    margin: 5px 20px;
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-black);
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar__item > ul > li:hover {
    color: var(--primary-blue);
    font-weight: bold;
    text-indent: 2px;
}
.sidebar__item > ul > li > a {
    text-decoration: none;
    color: var(--primary-black);
}
.main-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-grey);
    padding: 5px 10px;
}

.content-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-area-header {
    border-bottom: 1px solid var(--light-grey);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-area-header > h2 {
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-black);
}

.content-area-header > span {
    font-size: 20px;
    font-weight: 400;
}

.content-area-header > span > a {
     color: var(--link);
     text-decoration: none;
 }

.content-area-header > * > a:hover {
    color: var(--primary-blue);
    text-decoration: underline;
}
.content-area-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.content-area-content-item {
    display: flex;
    flex-direction: column;
    height: 320px;
}
.content-area-content-item:hover {
    opacity: 0.6;
    cursor: pointer;
}
.content-area-content-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.content-area-content-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.content-area-content-item-name > h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-black);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0B723B;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
}

.hidden {
    display: none !important;
}

.vertical {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 5px;
    color: var(--light-grey);
}

.invalidInput {
    border: 1px solid red !important;
}

.volver {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #c2c2c2;
}

#submitBtn:disabled, #submitBtn:disabled:hover {
    background-color: #c2c2c2;
    cursor: not-allowed;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-height: 610px) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .sidebars {
        display: none;
    }
    .main-container {
        width: 100%;
        padding: 0 20px
    }
    .coronaTicketsUY {
        width: 768px
    }
}