
.tablaPaquetes{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
}

.tablaPaquetes td, .tablaPaquetes th, h2{
    padding: 8px;
    align-items: start;
    align-content: start;
    text-align: start;
    border-bottom: 1px solid #ddd;
}

tbody td:hover {
    cursor: pointer;
}



