.tablaFunciones{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 200px;
}

.tablaFunciones td, .tablaFunciones th, h2{
    padding: 8px;
    text-align: start;
    border-bottom: 1px solid #ddd;
}

select{
    width: 100px;
}

.busqueda{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    gap: 10px;
}

#select_list > select{
    width: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

tbody td:hover {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #ddd;
}


#txtBuscar {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
}

select {
    width: 100%;
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}